body
	{
	font: arial, helvetica, sans-serif;
	color: #330000;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: top right;
	padding: 0em;
	margin: 0em;
	border-top: 10px solid white;
	min-width: 60em;
	min-height: 90%;
	}	

div#logo
	{
	background-image: url();
	background-repeat: no-repeat;
	height: 150px;
	margin-right: 10px;
	}
	
div#header h1
	{
	font: 2.5em georgia, arial, helvetica, sans-serif;
	font-weight: normal;
	color: #f60;
	padding-left: 3.3em;
	padding-top: .8em;
	margin: 0px;
	}
	
div#header p
	{
	font: 1.2em arial, helvetica, sans-serif;
	letter-spacing: .1em;
	color: #900;
	padding-left: 5em;
	margin-bottom: 1.5em;
	margin-top: 1em;
	}
	
div#nav_ver 
	{
	position:absolute;
	left:0;
	top: 10em;
	padding:0;
	padding-left: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	width: 10em;
	}

div#main 
	{
	color: #f60;
	background-color: #fff;
	min-height: 10em;
			border-left: .3em solid #f60;
		border-top: .3em solid #f60;
	padding-left: 0em;
	padding-top: 0px;
	padding-right: 10%;
	padding-bottom: 5em;
	margin-left: 10em;
	margin-top: 0em;
	margin-right: 5%;
	margin-bottom: 0px;
	clear: both;
	}

div#footer
	{
	font: .7em arial, helvetica, sans-serif;
	font-style: italic;
	letter-spacing: .2em;
	word-spacing: .2em;
	color: #f60;
	padding-left: 1em;
	padding-top: 0px;
	margin-left: 10em;
	margin-top: 2em;
	}

div#nav_ver p
	{
	font: .8em arial, helvetica, serif;
	font-weight: bold;
	
	word-spacing: .1em;
	color: #fff;
	margin-left: 0em;
	margin-top: 0px;
	margin-right: 0em;
	margin-bottom: 0px;
	}

/*div#nav_ver p.last
{
	border-bottom: dotted #900;
}*/

div#nav_ver p.current
	{
	font: .8em arial, helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: .1em; 
	word-spacing: .1em; 
	color: #036;
	background-color: #FFF;
	display: block;
	padding-left: 2em;
	padding-top: 0em;
	padding-right: .7em;
	padding-bottom: .1em;
	margin-left: 0em;
	margin-top: 0px;
	margin-right: 0em;
	margin-bottom: 0px;
	}

#nav_ver a:link
	{
	color: #F60;
	text-decoration: none;
	background-color: #fff;
	display: block;
	padding-left: 2em;
	padding-top: 1em;
	padding-right: .7em;
	padding-bottom: .5em;
	margin-left: 0em;
	margin-top: 0px;
	margin-right: 0em;
	margin-bottom: 0px;
	}

#nav_ver a:active
	{
	color: #f60;
	text-decoration: none;
	}

#nav_ver a:visited
	{
	color: #f60;
	text-decoration: none;
	background-color: #fff;
	display: block;
	padding-left: 2em;
	padding-top: 1em;
	padding-right: .7em;
	padding-bottom: .5em;
	margin-left: 0em;
	margin-top: 0px;
	margin-right: 0em;
	margin-bottom: 0px;
	}

#nav_ver a:hover
	{
	color: #fff;
	background-color: #F60;
	text-decoration: none;
	text-shadow: none;
	}

#main h1
	{
	font: 2em arial, helvetica, sans-serif;
	letter-spacing: .1em; 
	font-weight: normal;
	color: #900;
	text-align: right;
	padding-left: 4em;	
	padding-top: 0px;
	padding-right: 0px;	
	padding-bottom: 0px;
	margin-left: 0em;
	margin-top: 1em;
	margin-right: 15%;
	margin-bottom: 0px;
	clear: right;
	}

#main h2
	{
	font: 1em georgia, arial, helvetica, sans-serif;
	letter-spacing: .1em; 
	word-spacing: .1em;
	font-weight: normal;
	color: #F60;
	/*border-bottom: 1em solid #F60;*/
	padding-left: 7%;	
	padding-bottom: .5em;
	margin-left: 0em;
	margin-top: 2em;
	margin-right: 0px;
	margin-bottom: 0em;
	}
	
#main h2 a
	{
	padding-left: 1em;
	padding-top: .5em;
	padding-right: 1em;
	padding-bottom: .5em;
	}
	
#main h2 a:link
	{
	font-weight: normal;
	color: #fff;
	background-color: #f60;
	}
	
#main h2 a:active
	{
	font-weight: normal;
	color: #fff;
	background-color: #f60;
	}
	
#main h2 a:visited
	{
	font-weight: normal;
	color: #fff;
	background-color: #f60;
	}
	
#main h2 a:hover
	{
	font-weight: normal;
	color:#fff;
	background-color: #900;
	}

#main h3
	{
	font: 1em arial, helvetica, serif;
	letter-spacing: .1em; 
	word-spacing: .1em;
	font-weight: normal;
	color: #fff;
	background-color: #F60;
	padding-left: 6%;	
	padding-top: .5em;
	padding-right: .5em;	
	padding-bottom: .5em;
	margin-left: 0em;
	margin-top: 0px;
	margin-right: 0%;
	margin-bottom: 0em;
	}

#main p
	{
	font: .9em Georgia, arial, helvetica, sans-serif;
	letter-spacing: 0em; 
	text-align: justify;
	color: #900;
	background-color: #fff;
	padding-left: 2em;
	padding-top: 1em;
	padding-right: 2em;
	padding-bottom: 1em;
	margin-left: 3em;
	margin-top: 0em;
	margin-right: 0px;
	margin-bottom: 0em;
	clear: left;
	}
	
#main p.intro
	{
	font: 1.1em georgia, helvetica, sans-serif;
	text-align: left;
	color: #900;
	background-color: transparent;
	padding-left: 1.5em;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-left: 1em;
	}

#main p.intro_cn
	{
	font: 1.1em sans-serif;
	text-align: left;
	color: #900;
	background-color: transparent;
	padding-left: 1.5em;
	padding-top: 3em;
	padding-bottom: 3em;
	margin-left: 1em;
	}
	
#subsection
	{
	clear: right;
	margin-bottom: 1em;
	}



#main blockquote
    {
	font: .9em arial, helvetica, sans-serif;
	letter-spacing: 0em; 
	max-width: 60em;
	padding-left: 0em;
	padding-top: 0em;
	padding-right: 0em;
	padding-bottom: 0em;
	margin-left: 10%;
	margin-top: 1em;
	margin-right: 20em;
	margin-bottom: 1em;
	}	
	
#main a
	{
	padding-left: .2em;
	padding-right: .2em;
	}

#main a:link
	{
	/*color: rgb(0,97,28);*/
	color: #900;	
	background-color: transparent;
	text-decoration: underline;
	}

#main a:active
	{
	color: #366;
	background-color: #CC3300;
	text-decoration: underline;
	}

#main a:visited
	{
	color: #900;
	text-decoration: underline;
	}

#main a:hover
	{
	color: rgb(0,97,28);
	text-decoration: underline;
	}
	
#main ol
	{
	padding: 0em;
	margin-top: .5em;
	margin-left: 5%;
	margin-right: 20%;
	margin-bottom: .5em;
	}
    
#main ul
	{
	background-color: #F60;
	padding: 1em;
	margin-top: 0em;
	margin-left: 6%;
	margin-right: 20%;
	margin-bottom: 0em;
	}

#main li
	{
	list-style-type:disc;
	font: .8em arial, helvetica, sans-serif;
	color: #366;
	padding-left: 0em;
	padding-top: 0em;
	padding-right: 1em;
	padding-bottom: 0em;
	margin-left: 1em;
	margin-top: 0em;
	margin-right: 1em;
	margin-bottom: 0em;
	}
	
#main table
	{
	font: .9em arial, helvetica, sans-serif;
	background-color: #fff;
	padding: .1em;
	margin-left: 5%;
	margin-top: 1em;
	margin-right: 0%;
	margin-bottom: 1em;
	}
    
#main th
	{
	color: #FFFFFF;
	border-bottom: .2em solid #900;
	}

#main td
	{
	padding: .5em;
	}



    
#figure
	{
	background-color: transparent;
	border-left: 3px solid #900;
	border-top: 3px solid #900;
	border-right: 3px solid #900;
	border-bottom: 3px solid #900;
	padding: 0px;
	margin-left: 1em;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	clear: both;
	height: auto;
	float: right;
	}

#figure p
	{
	font: .8em arial, helvetica, sans-serif;
	font-style: italic;
	color: #6699CC;
	min-width: 5em;
	padding-left: .5em;
	padding-top: 0px;
	padding-right: .3em;
	padding-bottom: 2em;
	margin: 0px;
	float: none;
	clear: both;
	}

#figure img
	{
	width: 300px;
	border: none;
	padding: 0px;
	margin: 0px;
	}